/*body styling*/
body {
    background: #b36969;
    min-height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*creating main circle*/
.animate {
    position: relative;
    background-color: #702424;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/*styling main circle*/
.circle {
    position: absolute;
    background-color: inherit;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    opacity: 0.8;
    animation: pulsing 4s ease-out infinite;
}

/*adding delay to each circle*/
.circle:nth-of-type(1) {
    animation-delay: -1s;
}

.circle:nth-of-type(2) {
    animation-delay: -2s;
}

.circle:nth-of-type(3) {
    animation-delay: -3s;
}

.circle:nth-of-type(4) {
    animation-delay: -4s;
}

.circle:nth-of-type(5) {
    animation-delay: -5s;
}


/* styling pulsing effect*/
@keyframes pulsing {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}